.kitpic {
    width: 200px;
    height: auto;
}

body {
    background-color:rgb(148, 214, 113)
}
li {
  color:rgb(77, 63,15 )
}

.icepic {
    width: 200px;
    height: auto;
}
 .center {
    text-align: center
 }